<!DOCTYPE html>
<html>
<head>
  <title>RailsFun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>RailsFun</h1>
<h2>Learning Ruby on Rails — Work in Progress</h2>
<%= yield %>

</body>
</html>
